<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortenURL - Register</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1><a href="/">ShortenURL</a></h1>
        {{ .Error }}
    </header>
    <main>
        <form id="register-form" method="POST" action="/internal/register">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Register</button>
        </form>
    </main>
    <script src="static/script.js"></script>
</body>
</html>
